@use '@/assets/style/mixin/mediaQuery' as mediaQuery;

.spinner {
  &-wrapper {
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - var(--pc-header-height) - var(--pc-footer-height));
    margin: var(--pc-header-height) 0 var(--pc-footer-height);
    background-color: rgb(0 0 0 / 10%);

    @include mediaQuery.media {
      height: calc(100% - var(--sp-header-height) - var(--sp-footer-height));
      margin: var(--sp-header-height) 0 var(--sp-footer-height);
    }
  }
}
