@use '@/assets/style/mixin/font' as font;
@use '@/assets/style/mixin/focus' as focus;

.basic-button {
  @include focus.focus-visible;

  padding: 4px 8px;
  cursor: pointer;
  border-radius: 6px;

  &:disabled {
    color: var(--color-text-disabled);
    cursor: not-allowed;
    background-color: var(--color-background-disabled);
  }

  &--x-small {
    @include font.font-size(12, 12);

    padding: 6px;
  }

  &--small {
    padding: 4px 8px;
  }

  &--medium {
    padding: 8px 12px;
  }

  &--large {
    padding: 8px 24px;
  }

  &--full {
    width: 100%;
    padding: 8px;
  }

  &--normal {
    color: var(--color-text-normal);
    background-color: var(--color-background-light);
    border: 1px solid var(--color-border-light);

    &:hover {
      background-color: var(--color-background-hover-normal);
    }
  }

  &--processing {
    color: var(--color-text-processing);
    background-color: var(--color-background-light-processing);

    &:hover {
      background-color: var(--color-background-light-hover-processing);
    }
  }

  &--primary {
    color: var(--color-text-primary);
    background-color: var(--color-background-light-primary);

    &:hover {
      background-color: var(--color-background-light-hover-primary);
    }
  }

  &--danger {
    color: var(--color-text-danger);
    background-color: var(--color-background-light-danger);

    &:hover {
      background-color: var(--color-background-light-hover-danger);
    }
  }
}