@use '/assets/style/mixin/font' as font;

.book-list {
  &__accordion {
    width: 100%;
    margin-bottom: 8px;
    border: 1px solid var(--color-border-light);
    border-radius: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__summary {
    position: relative;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px 8px 12px;
    cursor: pointer;
  }

  &__summary::-webkit-details-marker {
    display: none;
  }

  &__chevron {
    width: 16px;
    height: 16px;
    background-image: url('@/assets/svg/chevron-down-solid.svg?inline');
  }

  &__accordion[open] &__chevron {
    background-image: url('@/assets/svg/chevron-up-solid.svg?inline');
  }

  &__summary-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
  }

  &__title {
    font-weight: bold;
  }

  &__detail {
    padding: 8px;
  }

  &__detail-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    margin-bottom: 12px;
  }

  &__text {
    &--number {
      @include font.font-size(16);
      @include font.font-face('Roboto');
    }
  }

  &__currency-symbol {
    margin-left: 4px;
  }
}