@use '@/assets/style/mixin/font' as font;
@use '@/assets/style/mixin/mediaQuery' as mediaQuery;

.container {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;

  @include mediaQuery.media {
    display: block;
  }

  &__img {
    width: var(--auth-container-max-width);
    height: var(--auth-container-max-width);
    object-fit: cover;
    border-radius: 8px;

    @include mediaQuery.media {
      display: none;
    }
  }

  &__form {
    width: var(--auth-container-max-width);
    max-width: var(--auth-container-max-width);
    background-color: var(--color-background-light);
    border: 1px solid var(--color-border-light);
    border-radius: 8px;

    @include mediaQuery.media {
      width: auto;
      margin: auto;
    }
  }

  &__title {
    @include font.font-size(24, 24);

    padding: 24px 0;
    margin: 0 24px;
    text-align: center;
    border-bottom: 1px solid var(--color-border-light);
  }
}
