@use '/assets/style/mixin/font' as font;

.input-file {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 24px 12px;
  text-align: center;
  background-color: var(--color-background-light-normal);
  border: 3px dashed var(--color-border-normal);
  border-radius: 8px;

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 8px;
    opacity: 0;
  }

  &__text {
    @include font.font-size(16, 16);

    display: inline-block;
    margin-bottom: 8px;
  }

  &__button {
    z-index: 1;
    display: flex;
    gap: 8px;
    align-items: center;
  }
}
