@use '@/assets/style/mixin/font' as font;

.tag {
  @include font.font-size(12, 12);

  padding: 6px;
  color: var(--color-dark-text);
  border-radius: 4px;

  &--gray {
    background-color: var(--color-background-gray);
  }

  &--red {
    background-color: var(--color-background-red);
  }
}
