@use '@/assets/style/mixin/mediaQuery' as mediaQuery;

.layout-container {
  position: relative;
  padding: var(--pc-header-height) 0 var(--pc-footer-height);

  @include mediaQuery.media {
    padding: var(--sp-header-height) 0 var(--sp-footer-height);
  }

  &__header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background-color: var(--color-background-light);
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
  }

  &__header-content {
    max-width: var(--pc-max-width);
    max-height: var(--pc-header-height);
    margin: auto;

    @include mediaQuery.media {
      max-width: var(--sp-max-width);
    }
  }

  &__main {
    max-width: var(--pc-max-width);
    padding: 24px 40px;
    margin: auto;

    @include mediaQuery.media {
      max-width: var(--sp-max-width);
      padding: 0;
    }
  }

  &__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background-color: var(--color-background-light);
    box-shadow: 0 -5px 10px rgb(0 0 0 / 10%);
  }

  &__footer-content {
    max-width: var(--pc-max-width);
    margin: auto;

    @include mediaQuery.media {
      max-width: var(--sp-max-width);
    }
  }
}
