@use '/assets/style/mixin/font' as font;

.modal {
  &__title {
    @include font.font-size(20);
  }

  &__desc-text {
    &--bold {
      font-weight: bold;
    }
  }

  &__footer {
    display: flex;
    gap: 16px;
    justify-content: center;
  }
}

.book-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  &__head-cell {
    padding: 8px 16px;
    text-align: left;
    background-color: var(--color-background-light-normal);
    border-top: 1px solid var(--color-border-normal);
    border-bottom: 1px solid var(--color-border-normal);

    &:first-child {
      width: 23%;
    }

    &:last-child {
      width: 5%;
      padding: 8px 4px;
      text-align: center;
    }
  }

  &__body-cell {
    @include font.font-size(14);

    padding: 8px 16px;
    border-top: 1px solid var(--color-border-normal);
    border-bottom: 1px solid var(--color-border-normal);

    &:first-child {
      width: 23%;
    }

    &:last-child {
      width: 5%;
      padding: 8px 4px;
      text-align: center;
    }
  }

  &__text {
    &--number {
      @include font.font-size(16);
      @include font.font-face('Roboto');
    }
  }

  &__currency-symbol {
    margin-left: 4px;
  }

  &__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    width: 16px;
    height: 16px;
  }
}