@use '/assets/style/mixin/font' as font;
@use '@/assets/style/mixin/mediaQuery' as mediaQuery;

.container {
  padding: 24px;
  background-color: var(--color-background-light);
  border-radius: 8px;

  @include mediaQuery.media {
    padding: 24px 16px;
    border-radius: 0;
  }

  &--text-bold {
    font-weight: bold;
  }

  &__title {
    @include font.font-size(32);

    margin-bottom: 8px;

    @include mediaQuery.media {
      @include font.font-size(24, 32);

      margin-bottom: 16px;
    }
  }

  &__description-section {
    margin-bottom: 16px;
  }

  &__icon {
    width: 16px;
    height: auto;
  }

  &__analysis-text {
    margin-bottom: 12px;
  }

  &__picture-form {
    margin-bottom: 24px;
  }

  &__analysis-table-wrapper {
    margin-bottom: 12px;

    @include mediaQuery.media {
      display: none;
    }
  }

  &__analysis-list-wrapper {
    display: none;

    @include mediaQuery.media {
      display: block;
    }
  }
}
