@use '/assets/style/mixin/font' as font;
@use '@/assets/style/mixin/mediaQuery' as mediaQuery;

.description-section {
  &__title {
    @include font.font-size(24);

    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 8px;

    @include mediaQuery.media {
      @include font.font-size(20, 20);
    }
  }
}
