@use '/assets/style/mixin/font' as font;

.alert {
  display: block;
  border-radius: 8px;

  &--small {
    @include font.font-size(12, 12);

    padding: 8px;
  }

  &--middle {
    padding: 8px 16px;
  }

  &--large {
    padding: 12px 24px;
  }

  &--normal {
    color: var(--color-text-normal);
    background-color: var(--color-background-light-normal);
  }

  &--processing {
    color: var(--color-text-processing);
    background-color: var(--color-background-light-processing);
  }

  &--primary {
    color: var(--color-text-primary);
    background-color: var(--color-background-light-primary);
  }

  &--success {
    color: var(--color-text-success);
    background-color: var(--color-background-light-success);
  }

  &--error {
    color: var(--color-text-error);
    background-color: var(--color-background-light-error);
  }

  &--warning {
    color: var(--color-text-warning);
    background-color: var(--color-background-light-warning);
  }
}
